<div class="page">
  <p-table
    styleClass="p-datatable-sm"
    [value]="processes"
    [lazy]="true"
    [loading]="loading"
    [paginator]="true"
    [(first)]="first"
    [rows]="10"
    [totalRecords]="totalRecords"
    [rowsPerPageOptions]="[10, 15, 25, 50, 250, 1000]"
    (onPage)="onPageChange($event)"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>PID</th>
        <th>Command</th>
        <th>CPU</th>
        <th>Disk Write Total</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-process>
      <tr>
        <td>{{ process.pid }}</td>
        <td>{{ process.command }}</td>
        <td>{{ process.cpu + " %" }}</td>
        <td>{{ process.mem + " Mb" }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
