<div class="app">
  <header>
    <img src="assets/logo.webp" alt="Logo">
    <h1>Process Explorer</h1>
  </header>

  <div class="content">
    <aside>
      <nav>
        <a pRipple routerLink="/process-monitor" routerLinkActive="active"
          >Processes Monitor</a
        >
        <a pRipple routerLink="/memory-analysis" routerLinkActive="active"
          >Memory Analysis</a
        >
        <a pRipple routerLink="/file-system-explorer" routerLinkActive="active"
          >File System Explorer</a
        >
        <a pRipple routerLink="/input-output-monitor" routerLinkActive="active"
          >Input-Output Monitor</a
        >
        <a pRipple routerLink="/network-activity-analysis" routerLinkActive="active"
          >Network Activity Analysis</a
        >
        <a pRipple routerLink="/user-accounts" routerLinkActive="active"
          >User Accounts</a
        >
        <a pRipple routerLink="/system-services-monitor" routerLinkActive="active"
          >System Services Monitor</a
        >
      </nav>
    </aside>

    <main>
      <router-outlet></router-outlet>
    </main>
  </div>
</div>

<p-toast></p-toast>
